
.page {
  min-height: 100vh;
  padding-top: 120px;
}

  .mat-form-field {
    display: block;
  }
.page:before {
  content: '';
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background: url('../../assets/fond-1.jpg') no-repeat;
  position: fixed;
  top: 80px;
  left: 0;
}
button.btn.btn-primary.btn-login {
  margin-bottom: -30px;
}
.login-card{
  margin-top: 5%;
}
a.pass-recover{
  display: block;
  cursor: pointer;
  color: darkgrey;
  font-size: 11px;
}


