app-login {

  display: flex !important;
  padding-top: 100px !important;
  padding-left: 0 !important;
  flex-wrap: wrap;

  .mat-form-field {
    display: block;
  }
  
  &:before {
    content: '';
    width: 100%;
    /* height: calc(100vh - 80px); */
    height: 100%;
    background-size: cover;
    background: url('../../assets/fond-1.jpg') no-repeat center;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  button.btn.btn-primary.btn-login {
    position: absolute;
    transform: translate(-50%,-50%);
  }
}