.page-form-dive {
  
  mat-radio-group[name='referenced'] {
    text-transform: uppercase;
    font-weight: bolder;
    // color: #00accc;
  }

  .radio-weather {
    margin-top: 20px;
    .mat-radio-button {
      max-width: 180px;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .mat-form-field-lg {
    width: 50%;
    max-width: 360px;
  }

  .mat-form-field-infix {
    border: none;
  }

  .form-group-sea-state {
    margin-bottom: 2rem;
  }
  
  .form-group-visibility {
    .mat-radio-group {
      display: inline-block;
      margin-top: 15px;
    }
  }

  section {
    margin-bottom: 30px;
    &.calendar {
      > .row {
        padding-top: 20px;
      }
      .mat-input-element {
        min-height: 24px;
      }
      /* .mat-form-field-label {
        width: 100% !important;
        transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px) !important;
      } */
      .times {
        .time {
          .btn-remove {
            position: absolute;
            left: 15px;
            transform: translateX(-100%);
          }
        }
      }
    }
    &.typedives {
      .mat-checkbox {
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .mat-form-field-prefix {
        font-style: italic;
        color: #666;
        font-size: 11px;
      }
      .mat-form-field-infix {
        width: auto;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #00accc;
}

h5 {
  color: #00accc;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  small {
    text-transform: none;
  }
}

.list-inline {
  img {
    width: 100px;
    height: 100px;
    margin: 20px 60px 20px 0px;
  }

}
mat-chip {
  margin:30px;
}

.pg-card {
  margin: 30px 0px 30px 0px;
}

.page:before {
  content: '';
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background: url('../../assets/fold.jpg') no-repeat;
  position: fixed;
  top: 80px;
  left: 0;
}
