<main class="page container">
  <mat-card>
      <form  class="register-form inscription" [formGroup]="diveForm">
        <mat-toolbar>
          <span>DATE ET HEURE </span>
        </mat-toolbar>
        <div class="row text-center">
          <div class="col-md-3">
            <mat-form-field class="full-width angel_heading">
              <input matInput [matDatepicker]="dp" placeholder="La date de vôtre plongée" formControlName="divingDate">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <div formArrayName="times" class="well well-lg">
              <div class="boat" *ngFor="let time of times.controls; let i=index" [formGroupName]="i" >
                <div class="button-row text-right" *ngIf="times.length > 1">
                  <button mat-mini-fab color="warn" (click)="removeTime(i)">X</button>
                </div>
                <ul class="list-inline">
                <li class="list-inline-item">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Heure de début de plongée" value="00:00" formControlName="startTime">
                  </mat-form-field>
                  <div *ngIf="time.controls.startTime.invalid && (time.controls.startTime.dirty || time.controls.startTime.touched)" class="alert alert-danger">
                    <div *ngIf="time.controls.startTime.errors.required">
                      le nom de bateau est obligatoire.
                    </div>
                  </div>
                </li>
                <li class="list-inline-item">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Heure de fin de plongée" value="00:00" formControlName="endTime">
                  </mat-form-field>
                  <div *ngIf="time.controls.endTime.invalid && (boat.controls.endTime.dirty || time.controls.endTime.touched)" class="alert alert-danger">
                    <div *ngIf="time.controls.endTime.errors.required">
                      l'imatriculation de bateau est obligatoire.
                    </div>
                  </div>
                </li>
                </ul>
              </div>
              </div>

            <div class="col-md-12 text-center">
            <div class="button-row">
              <a mat-mini-fab (click)="addTime()">+</a>
            </div>
          </div>
          </div>
      </div>
      <mat-toolbar>
        <span>Bateau </span>
      </mat-toolbar>
        <div class="col-md-12"  *ngIf="boatsChsd.length > 0">
          <h5>BATEAUX DECLAREE</h5>
          <mat-chip-list>
            <mat-chip *ngFor="let bt of boatsChsd;let i=index">{{bt.boat_id}} - avec structure: {{bt.isStructure }}
                  <a mat-mini-fab color="warn" (click)="deleteBoat(i)">x</a>
            </mat-chip>
          </mat-chip-list>
        </div>
      <div class="row">
        <div class="col-md-6">
          <input matInput placeholder="Bateau" aria-label="Bateau" [matAutocomplete]="auto" [formControl]="boatCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let boat of filteredBoats | async" [value]="boat.name">
              <span>Nom: {{ boat.name }}</span> |
              <small>matriculation: {{boat.matriculation}}</small>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="structure">Plonger avec une structure</mat-checkbox>
        </div>
        <div class="col-md-12 text-center">
          <div class="button-row">
            <a mat-mini-fab (click)="addBoat()">+</a>
          </div>
        </div>
      </div>
      <mat-toolbar>
        <span>CONDITION CLIMATIQUES </span>
      </mat-toolbar>
      <div class="col-md-12">
        <mat-card-content>
          <h5 class="example-h2">VENT</h5>
          <mat-slider
            class="full-width"
            [disabled]="false"
            [invert]="false"
            [max]="20"
            [min]="1"
            [step]="true"
            [thumb-label]="true"
            [tick-interval]="true"
            formControlName="wind"
            [vertical]="false">
          </mat-slider>
        </mat-card-content>
      </div>
      <div class="col-md-12">
          <h5 class="example-h2">CIEL</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><img src="../../assets/icons/weather_soleil.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_nuage.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_pluie.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_orage.svg" /></li>
          </ul>
      </div>
      <div class="col-md-12">
          <h5 class="example-h2">ETAT DE LA MER</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><img src="../../assets/icons/weather_calme.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_mouvemente.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_agite.svg" /></li>
            <li class="list-inline-item"><img src="../../assets/icons/weather_tempete.svg" /></li>
          </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Température de l'eau" value="0" formControlName="water_temperature">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="Température de l'air" value="0" formControlName="wind_temperature">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="visiblité" value="0" formControlName="visibility">
          </mat-form-field>
        </div>
      </div>

      <mat-toolbar>
        <span>TYPE DE PLONGÉE </span>
      </mat-toolbar>
      <section class="example-section">
        <div formArrayName="divetypes" class="well well-lg">
          <div class="boat">
            <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let typedive of divetypes.controls; let i=index" [formGroupName]="i" >
              <mat-checkbox class="example-margin" formControlName="name">{{diveTypes[i].name}}</mat-checkbox>
              <mat-form-field class="full-width" *ngIf="divetypes.controls[i].controls.name.value">
                <input matInput placeholder="Nombre de plongee" value="0" formControlName="nbrDivers">
              </mat-form-field>
            </li>
          </ul>
          </div>
        </div>
      </section>
      <mat-toolbar>
        <span>SITE DE PLONGÉE </span>
      </mat-toolbar>
      <mat-radio-group formControlName="referenced">
        <mat-radio-button value="particulier">réferencé</mat-radio-button>
        <mat-radio-button value="structure">nom réferencé</mat-radio-button>
      </mat-radio-group>
      <div style="height: 400px;"
           leaflet
           (leafletMapReady)="onMapReady($event)"
           [leafletOptions]="options">
      </div>
        <button  class="btn btn-secondary btn-block"> ENVOYER LA DÉCLARATION</button>
      </form>
  </mat-card>
</main>
