<header class="d-flex align-items-center">
  <button mat-icon-button class="toggle-sidenav d-md-none pl-3 mr-auto" (click)="showSidenav = !showSidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="d-none d-md-block">
    <a href="http://149.202.44.29/site/">
      <img src="assets/images/logo.png" alt="Parc national de Port-Cros" />
    </a>
  </h1>
  <!--
  <h2 class="d-md-block">

  <a href="http://149.202.44.29/site/">
    <img src="assets/interreg_Logo_Girepam.jpg" alt="Parc national de Port-Cros" />
  </a>
  </h2>
  -->
  <nav class="d-none d-md-flex align-items-center ml-auto">

    <!-- <a href="#" name="routing-strategies" class="btn btn-link btn-sm"><i class="material-icons">menu</i></a> -->
    <a
       href="http://149.202.44.29/site/" name="routing-strategies"
       class="btn btn-link btn-sm navProfile visible-is-connected">
      <i class="material-icons">home</i>
      Accueil
    </a>
    <a *ngIf="isAdmin" target="_blank" routerLinkActive="active"
      href="{{ conf.adminURL }}" name="routing-strategies"
      class="btn btn-link btn-sm visible-is-connected">
        Administration
    </a>
    <a routerLink="/profile"
       href="#" name="routing-strategies"
       class="btn btn-link btn-sm navProfile visible-is-connected">
      <i class="material-icons">person</i>
      Mon profil
    </a>
    <button type="button" (click)="logOut()" routerLinkActive="active"
        class="btn btn-link btn-sm nav_profile visible-is-connected">
      <i class="material-icons"></i>
      Se déconnecter
    </button>

    <a routerLink="/register" routerLinkActive="active"
      href="#" name="routing-strategies"
      class="btn btn-link btn-sm hidden-is-connected">
        <i class="material-icons">person_outline</i>
        S'inscrire
    </a>
  </nav>
</header>
<aside class="sidenav">
  <div class="sidenav-inner">
    <ul class="list-unstyled">
      <li>
        <a routerLink="/permit" routerLinkActive="active"
          href="#" name="routing-strategies"
          class="btn btn-primary">
          Mes autorisations
        </a>
      </li>
      <li>
        <a routerLink="/statistics" routerLinkActive="active"
           href="#" name="routing-strategies"
           class="btn btn-primary">
          Statistiques
        </a>
      </li>
        <li>
          <a routerLink="/dive" routerLinkActive="active"
             href="#" name="routing-strategies"
             class="btn btn-primary">
            Déclarer une plongée
          </a>
        </li>
      <li>
        <span>
        Mes plongées
        </span>
        <a class="export-icon" matTooltip="Exporter" (click)="downloadCSV()" href="javascript:void(0)">
           <mat-icon>cloud_download</mat-icon>
        </a>
      </li>
    </ul>
    <mat-accordion class="dives">
      <mat-expansion-panel *ngFor="let diveDisplay of groupedDives; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ diveDisplay.dive.divingDate | date:'shortDate':'':'fr' }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description *ngFor="let timeElem of diveDisplay.dive.times">
          <span class="label">
            <a [routerLink]="['/dive', {id: diveDisplay.dive.id  }]">
             {{diveDisplay.dive.dive_site.name}} - {{timeElem[0] | slice:0:5}}
            </a>
          </span>
          <a mat-icon-button color="warn" class="btn-remove" (click)="removeDive(diveDisplay.dive)">
            <mat-icon>close</mat-icon>
          </a>
          <a mat-icon-button color="green" class="btn-remove" [routerLink]="['/dive', {id: diveDisplay.dive.id  }]">
            <mat-icon>file_copy</mat-icon>
          </a>
        </mat-panel-description>
        <div *ngFor="let dive of diveDisplay.dives">
        <mat-panel-description *ngFor="let timeElem of dive.times">

          <a [routerLink]="['/dive', {id: dive.id  }]">{{dive.dive_site.name}}  - {{timeElem[0] | slice:0:5}}</a>

          <a mat-icon-button color="warn" class="btn-remove" (click)="removeDive(dive)">
           <mat-icon>close</mat-icon>
          </a>
          <a mat-icon-button color="green" class="btn-remove" [routerLink]="['/dive', {id:dive.id}]">
            <mat-icon>file_copy</mat-icon>
          </a>

        </mat-panel-description>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <a routerLink="/profile" routerLinkActive="active"
      href="#" name="routing-strategies"
      class="btn btn-link btn-sm visible-is-connected d-md-none text-left text-light">
        <i class="material-icons">person</i>
        Mon profil
    </a>

    <button type="button" (click)="logOut()" routerLinkActive="active"
        class="btn btn-link btn-sm d-md-none visible-is-connected text-left text-light">
      <i class="material-icons"></i>
      se déconnecter
    </button>

    <a routerLink="/register" routerLinkActive="active"
      href="#" name="routing-strategies"
      class="btn btn-link btn-sm hidden-is-connected d-md-none text-left text-light">
        <i class="material-icons">person_outline</i>
        S'inscrire
    </a>
    <div class="btn-collapse"></div>
  </div>
</aside>

<main>
  <router-outlet></router-outlet>
</main>
