<header>
  <h1>
    <a href="http://149.202.44.29/site/">
      <img src="assets/images/logo.png" alt="Parc national de Port-Cros" />
    </a>
  </h1>
  <nav class="d-flex justify-content-end align-items-center">

    <!-- <a href="#" name="routing-strategies" class="btn btn-link btn-sm"><i class="material-icons">menu</i></a> -->

    <a routerLink="/profile" routerLinkActive="active"
      href="#" name="routing-strategies"
      class="btn btn-link btn-sm d-none d-md-block navProfile visible-is-connected">
        <i class="material-icons">person</i>
        Mon profil
    </a>
    <button type="button" (click)="logOut()" routerLinkActive="active"
        class="btn btn-link btn-sm d-none d-md-block nav_profile visible-is-connected">
      <i class="material-icons"></i>
      se déconnecter
    </button>

    <a routerLink="/register" routerLinkActive="active"
      href="#" name="routing-strategies"
      class="btn btn-link btn-sm d-none d-md-block hidden-is-connected">
        <i class="material-icons">person_outline</i>
        S'inscrire
    </a>
  </nav>
</header>

<aside class="sidenav">
  <ul class="list-unstyled">
    <li>
      <a routerLink="/profile" routerLinkActive="active"
        href="#" name="routing-strategies"
        class="btn">
        Votre Autorisation
      </a>
    </li>
    <li>
      Vos dernières plongées
    </li>
  </ul>
  <mat-accordion class="dives">
    <mat-expansion-panel *ngFor="let dive of dives; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ dive.divingDate | date:'shortDate':'':'fr' }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description *ngFor="let timeElem of dive.times">
        {{dive.dive_site.name}}  - {{timeElem[0] | slice:0:5}}
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <ul class="list-unstyled">
    <li>
      <a routerLink="/dive" routerLinkActive="active"
        href="#" name="routing-strategies"
        class="btn btn-primary">
        Déclarer une plongée
      </a>
    </li>
  </ul>
  <div class="btn-collapse"></div>
</aside>

<main>
  <router-outlet></router-outlet>
</main>