<header>
  <h1>
    <a href="http://149.202.44.29/site/">
      <img src="assets/images/logo.png" alt="Parc national de Port-Cros" />
    </a>
  </h1>
  <nav class="d-flex justify-content-end align-items-center">
    <div *ngIf="isConnected$ | async; then profile; else connect"></div>

    <!-- <a href="#" name="routing-strategies" class="btn btn-link btn-sm"><i class="material-icons">menu</i></a> -->
  </nav>
</header>
<router-outlet></router-outlet>

<ng-template #profile>
  <a  name="routing-strategies" routerLink="/dives" routerLinkActive="active" class="btn btn-link btn-sm d-none d-md-block">mes plongées</a>
  <a routerLink="/profile" routerLinkActive="active"
    href="#" name="routing-strategies"
    class="btn btn-link btn-sm d-none d-md-block navProfile">
      <i class="material-icons">person</i>
      Mon profil
  </a>
  <a (click)="logOut()" routerLinkActive="active"
     href="#" name="routing-strategies"
     class="btn btn-link btn-sm d-none d-md-block nav_profile">
    <i class="material-icons"></i>
    se déconnecter
  </a>
</ng-template>
<ng-template #connect>
  <a routerLink="/register" routerLinkActive="active"
    href="#" name="routing-strategies"
    class="btn btn-link btn-sm d-none d-md-block">
      <i class="material-icons">person_outline</i>
      S'inscrire
  </a>
</ng-template>
