 <div class="container-fluid page-profile">
   <div class="row">
     <div class="col-md-4 offset-md-4 text-center">
       <mat-card>
         <mat-list>
           <mat-list-item> <a href="{{config.serverURL}}/api/users/{{ user.id }}/permit.pdf" target="_blank"  class="btn btn-sm btn-secondary btn-block"> Télécharger l'autorisation</a> </mat-list-item>
           <mat-list-item> ID: {{ user.id }} </mat-list-item>
           <mat-list-item> Email: {{ user.email }} </mat-list-item>
         </mat-list>
       </mat-card>
     </div>
   </div>
  </div>

