app-profile {
  .btn-edit {
    right: 0;
  }
  section{
    padding:50px 20px;
    h1, h4, h5, span, li{
      color:#fff;
    }
    h5{
      color: #ddfe00;
      font-size: 14px;
      padding: 8px;
      font-weight: normal;
    }
    a{
      color: #ddfe00;
    }
    &.user-details {
      background:  url('../../assets/images/fond-profil.jpg') no-repeat;
      background-size: cover;
      .boats {
        font-size: 12px;
        font-weight: 600;
        ul {
          margin-left: 5px;
        }
        li:not(:last-child) {
          &::after {
            content: " - ";
          }
        }
        .delta {
          margin-left: 5px;
          font-weight: 600;
          font-style: italic;
        }
      }
      .list-boats {
        display: inline-block;
      }
    }
    &.kpis {
      span {
        display: block;
        font-weight: 600;
        font-weight: normal;
        color: #fff;
        text-transform: lowercase;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    /* section.user-details:before {
      height: calc(90%);
      background:  url('../../assets/images/fond-profil.jpg') no-repeat;
      top: 0px;
    } */
    a.all-site{
      display: none;
    }
  }

  chart {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }
}
.filter-dv{
  top: 80px;
  right: 0px;
  color:#fff;
}
