
section{
  padding:50px 20px;
  h1, h4, h5, span{
    color:#fff;
  }
  span {
    display: block;
    color: #ddfe00;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }
  h5{
    color: #ddfe00;
    font-size: 14px;
  }
}
section:before {
  content: '';
  width: 100%;
  height: calc(50% - 80px);
  background-size: cover;
  background: url('../../assets/fond-1.jpg') no-repeat;
  position: fixed;
  top: 80px;
  left: 0;
}


