<section class="user-details">
  <div class="row">
    <div class="col text-center">
      <h1>{{user.firstname}}  {{user.lastname}}</h1>
      <span class="caption">Plongeur débutant</span>
      <h5>{{user.email}}</h5>
      <h5>{{user.phone}}</h5>
      <h5>{{user.address}}</h5>
      <h5>{{user.zip}}</h5>
      <h5>{{user.country}}</h5>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h1>{{ nbrDives }}</h1>
      <span>Plongées</span>
      <a href="#">tout les sites</a>
    </div>
    <div class="col">
      <h1>{{ nbrHoursInWater | number}}</h1>
      <span>Heures sous l'eau</span>
      <a href="#">tout les sites</a>
    </div>
    <div class="col">
      <h1>{{ sites.length }}</h1>
      <span>sites explorés</span>
      <a href="#">tout les sites</a>
    </div>
    <div class="col">
      <h1>{{ nbrDives/nbrDivesMonths | number}}</h1>
      <span>Plongées par mois</span>
      <a href="#">tout les sites</a>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="options"></chart>
    </div>
  </div>
</section>
