/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: 'Crimson Text', serif;
  color: #303030;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-link {
  text-transform: none;
}
.btn {
  letter-spacing: 2px;
  padding: 15px 40px 13px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8rem;
}
.btn-outline {
  border-width: 2px;
}
.btn:not(.btn-outline) {
  border: none;
}
.btn:not(.btn-link) {
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.1)
}
.btn .material-icons {
  font-size: 130%;
  vertical-align: sub;
}

.btn-primary {
  background: #ddfe00; /* Old browsers */
  background: -moz-linear-gradient(left, #ddfe00 0%, #c4d600 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ddfe00 0%,#c4d600 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ddfe00 0%,#c4d600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddfe00', endColorstr='#c4d600',GradientType=1 ); /* IE6-9 */
  color: #000;
}

.btn-secondary {
  color: #FFF;
  background: #00accc; /* Old browsers */
  background: -moz-linear-gradient(left, #00accc 0%, #008faa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00accc 0%,#008faa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00accc 0%,#008faa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00accc', endColorstr='#008faa',GradientType=1 ); /* IE6-9 */
}
.btn-block{
  color: #303030;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
header h1 {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
header h1 img {
  height: 100%;
  width: auto;
  display: block;
}
header nav {
  height: 80px;
  background: #ede8e2; /* Old browsers */
  background: -moz-linear-gradient(left, #ede8e2 0%, #c7baae 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ede8e2 0%,#c7baae 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ede8e2 0%,#c7baae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede8e2', endColorstr='#c7baae',GradientType=1 ); /* IE6-9 */
}
.brand {
  color: #FFF;
  font-size: 2rem;
}
.brand small {
  display: block;
  font-size: 34%;
  color: #ddfe00;
  text-transform: none;
  margin-top: -5px;
}
.page {
  padding-top: 80px;
  background-color: #fff;
}
@media (min-height: 960px) {
  /* .fold:nth-child(2) .cols img {
    margin: 80px 0;
  } */
  .fold:nth-child(2) p {
    font-size: 1.2rem;
  }
}
