app-register {
  .page {
    min-height: 100vh;
    padding-top: 120px;
  }
  .complete{
    mat-card{
      display: inline-block;
    }
  }
  .register {

    .inscription {
      background-color: #fff;
    }
    .boat {
      padding: 10px 0px 10px 20px;
    }
  }
  .align-items {
    padding: 40px 10px 10px 20px;
  }
  .full-width {
    width: 100%;
  }
  @media (max-width: 768px) {
    .align-items {
      padding: 10px 10px 10px 10px;
    }
    .order-mobile{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}

  }

}

p {
  font-family: 'Hind', sans-serif;
  display: block;
  font-size: 34%;
  color: #ddfe00;
  text-transform: none;
  margin-top: -5px;
}
app-register .page:before {
  content: '';
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background: url('/assets/fold.jpg') no-repeat;
  position: fixed;
  top: 80px;
  left: 0;
}
