app-register {
  .page {
    min-height: 100vh;
    padding-top: 120px;
  }
  .complete{
    mat-card{
      display: inline-block;
    }
  }
  .register {
    p {
      display: block;
      font-size: 34%;
      color: #ddfe00;
      text-transform: none;
      margin-top: -5px;
      font-family: inherit;
    }
    .inscription {
      background-color: #fff;
    }
    .boat {
      padding: 10px 0px 10px 20px;
    }
  }
  .align-items {
    padding: 40px 10px 10px 20px;
  }
  .full-width {
    width: 100%;
  }
  @media (max-width: 768px) {
    .align-items {
      padding: 10px 10px 10px 10px;
    }
    .order-mobile{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}

  }

}


